#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end
import java.io.File;

import org.junit.AfterClass;
import org.junit.BeforeClass;
import org.junit.runner.RunWith;

import com.cucumber.listener.ExtentProperties;
import com.cucumber.listener.Reporter;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(
        strict = $strict,
        features = {"$featureFile"},
        plugin = #stringArray($plugins),
        monochrome = $monochrome,
        
#if(!$featureFile.contains(".feature:") && $tags)
        tags = #stringArray($tags),
#end
        glue = #stringArray($glue))
public class $className {
	
	@BeforeClass
	public static void beforeClasses() {
		System.out.println("Setting up the report properties.");
		ExtentProperties extentProperties = ExtentProperties.INSTANCE;
		extentProperties.setProjectName("ECommerce Automation");
		extentProperties.setExtentXServerUrl("http://172.16.220.108:1337");
	}
	
	@AfterClass
	public static void tearDown() {
		Reporter.loadXMLConfig(new File("src/test/resources/extent-config.xml"));
        Reporter.setSystemInfo("user", System.getProperty("user.name"));
        Reporter.setSystemInfo("os", "Windows");
	}
}