#parse("/array.java.vm")
#if ($packageName)
package $packageName;

#end
import java.io.File;

import org.junit.AfterClass;
import org.junit.BeforeClass;
import org.junit.runner.RunWith;

import com.cukes.advancedreport.ExtentProperties;
import com.cukes.advancedreport.Reporter;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

import java.time.LocalDateTime;
import java.time.format.DateTimeFormatter;

@RunWith(Cucumber.class)
@CucumberOptions(
        strict = $strict,
        features = {"$featureFile"},
        plugin = #stringArray($plugins),
        monochrome = $monochrome,
        
#if(!$featureFile.contains(".feature:") && $tags)
        tags = #stringArray($tags),
#end
        glue = #stringArray($glue))
public class $className {
	
	static String featureName = "$featureFile".substring("$featureFile".lastIndexOf("/") + 1, "$featureFile".indexOf(".feature"));
	
	@BeforeClass
	public static void beforeClasses() {
		System.out.println("Setting up the report properties.");
		LocalDateTime localDateTime = LocalDateTime.now();
		DateTimeFormatter formatter = DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss");
		String formatDateTime = localDateTime.format(formatter);
		ExtentProperties extentProperties = ExtentProperties.INSTANCE;
		extentProperties.setProjectName("Test2");
		extentProperties.setReportName(featureName + " " + formatDateTime);
		extentProperties.setExtentXServerUrl("http://172.16.220.108:1337");
	}
	
	@AfterClass
	public static void tearDown() {
		Reporter.loadXMLConfig(new File("src/test/resources/extent-config.xml"));
        Reporter.setSystemInfo("user", System.getProperty("user.name"));
        Reporter.setSystemInfo("os", "Windows");
	}
}